button{
    cursor:pointer;
}
.playAgain{
    direction: rtl;
    width: 15rem;
    height: 3rem;
    font-size: 1.1rem;
    color: white;
    border:none;
    background: linear-gradient(to right,#dba3d4, #9198e5);
    border-radius:5px;
    box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
    cursor: pointer;
}