.cell{
  cursor: pointer;
    width: 2.2rem;
    height: 2.2rem;
    background-color: white;
    margin: 0.2rem;
    border-radius:3px;
    @include flex-direction(row);
    @include align-items(center);
    @include justify-content(center);
    >img{
        width:80%;
        height: 80%;
    }
}
.cell:hover{
    background-color:gainsboro;
    cursor: pointer;
}
@for $indexA from 0 through 20 {
    @for $indexB from 0 through 20 {
      .cell-#{$indexA}-#{$indexB} {
        @include cell($indexA,$indexB,false);
        cursor:pointer;
        pointer-events: auto;
      }
    }
}

@for $indexA from 0 through 20 {
    @for $indexB from 0 through 20 {
      .cellActive-#{$indexA}-#{$indexB} {
        @include cell($indexA,$indexB,true);
        cursor:auto !important;
        pointer-events: none !important;


      }
    }
}

