.cell{
    width: 2.5rem;
    height: 2.5rem;
    background-color: white;
    margin: 0.2rem;
    border-radius:3px;
    @include flex-direction(row);
    @include align-items(center);
    @include justify-content(center);
}
.cell:hover{
    background-color:gainsboro;
    cursor: pointer;
}